/* .container{
  display: flex;
  justify-content: center;
}
/* img{
  width: 350px;
  padding: 50px;
} */


/*
@media (max-width:600px){
  .container{
    display: flex;
    flex-direction: column;
  }
  h1{
    margin-left: 50px;
  }
  img{
    width:500px; 
}
}
*/
/*
.navbar-brand{
  width: 150px;
  font-size: 25px;
}
navbar-brand img{
  height: 50px;
  float: left;
  margin-right: 7px;
}
.navbar1{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;

} */
.cl{
  color: aquamarine;
}
.bg {
  background-color: aquamarine;
}